@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

:root {
  --main-radius: 5px;
  /* --main-padding: 5px; */
  --nav-margin: 10px;
  --nav-padding: 30px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.05fr 0.2fr;
  grid-template-areas:
    "nav nav"
    "names names"
    "info info"
    /* "sidebar content1 content2 content3" */
    /* "sidebar footer footer footer" */;

  grid-gap: 0.2rem;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins";
}

nav {
  background-color: #a7ffeb;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: var(--nav-padding);
  margin-bottom: var(--nav-margin);
}

#info {
  /* background-color: red; */
  grid-area: info;
  margin: 30px;
}

#names {
  background-color: yellow;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-area: names;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "names"
      "info";
  }
}
